*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
  --main-clr: rgb(202, 255, 237);
  --drk-clr: rgb(29, 29, 29);
}

body{
  background-color: var(--drk-clr);
}

h1{
  font-size: 22px;
  color: var(--main-clr);
}

p{
  font-size: 18px;
  color: var(--main-clr);
}

.words{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  h1{
    font-size: 26px;
  }
}

header{
  background-image: url('numbers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    padding: 2rem;
    margin: 1rem;

    h1{
      font-size: 2rem;
      margin: 0 0 1rem;
    }
  
    p{
      text-align: center;
    }
  }
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  border-bottom: 1px solid var(--main-clr);
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.list{
  overflow-y: scroll;
  display: grid;
  grid-template-rows: repeat(24, 6rem);
  grid-template-columns: 24rem;
  border-top: 2px solid var(--main-clr);
  border-bottom: 2px solid var(--main-clr);
  padding: 0 1rem 1rem;
  margin: 1rem 1rem 0 0;
  height: 42rem;

  button{
    cursor: pointer;
    background-color: transparent;
    color: var(--main-clr);
    margin: 1rem 1rem 0;
    padding: 1rem 0.5rem;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid var(--main-clr);
    border-radius: 5px;
  }

  button:hover{
    background-color: var(--main-clr);
    color: var(--drk-clr);
  }
}

main > .sections > section {
  display: none;
  margin: 1rem 0 0 1.5rem;
  padding: 0 0 1rem;
  border-bottom: 2px solid var(--main-clr);
  width: 700px;
}

.sections{
  display: flex;
  flex-direction: column;
}

.field p{
  margin: 0.8rem 0 0.4rem;
}

.answer p{
  margin: 0.5rem 0 0;
}

@media screen and (max-width: 1172px) {
  .list{
    overflow-x: scroll;
    display: grid;
    grid-template-rows: 6rem;
    grid-template-columns: repeat(24, 24rem); 
    padding: 0 1rem 1rem;
    margin: 1rem 1rem 0 0;
    height: 6rem;
  }

}